<!doctype html>
<html lang='en'>
  <head>
    <meta charst='utf-8'>
    <title>App name here</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>

  <body>
    <header>
      <h1>Header here</h1>
    </header>
  <%= yield %>
    <footer>
      <p>footer sub navigation goes here...
      </footer>
  </body>
</html>